MONGO_DB=mongodb+srv://laptrinh_nodejs:0163hanh@cluster0.zsg8hrj.mongodb.net/?retryWrites=true&w=majority
PORT = 5000
DEV = 1
SESSION_NAME = movieBooking
JWT_SECRET_KEY = movieBooking_webapp
JWT_REFRESH_SECRET_KEY = movieBooking_webapp_refresh
